# Ignore IDE specific files
*.komodo*
*.sublime*
.idea/

# Ignore special files
.DS_Store
.fuse*
._*
*.bin

# Log files
npm-debug.log
v8.log
*.cpuprofile
callgrind*
*.wtf-trace

# Ignore report files
plato/
*.0x/

# Ignore node modules
/node_modules/

# Ignore local test files
scratch*

# Ignore coverage results
/coverage/
.coveralls.yml
