# IDE files
*.komodo*
*.sublime*
.idea/

## OS specific files
.DS_Store
.DS_Store?
.fuse*
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Log files
npm-debug.log
v8.log
*.cpuprofile
callgrind*
*.wtf-trace
deoptigate/
*.0x/
deoptigate/

# Ignore node modules
/node_modules/

# Coverage directory used by istanbul
.nyc_output/
coverage/
.nycrc.yml

# Coveralls contains private info
.coveralls.yml

# This can contain the private token
# (This is NOT .codecov.yml)
codecov.yml

# Github settings
.github/

# Locks
package-lock.json
npm-shrinkwrap.json
yarn.lock

# Others
*.bin

# Ignore test files
scratch*
log.json

## More files that don't need to go on NPM

# Ignore benchmarks
/benchmark/

# The samples and test folder shouldn't go on npm
samples/*
test/*
.github/*

/selenium/
.codecov.yml
.travis.yml
*.tgz